.primary-button{
    background-color: var(--black);
    padding: 15px 20px 15px 20px;
    height:fit-content;
    color: var(--white);
    border: none;
    width: fit-content;
    border-radius: 10px;
    font-size: var(--clickables-text);

}

.primary-button:hover{
    background-color: var(--dark-grey);

}

.secondary-button{
    background-color: var(--white);
    padding: 15px 20px 15px 20px;
    height:fit-content;
    color: var(--dark-grey);
    border: 1.5px solid var(--black);
    width: fit-content;
    border-radius: 10px;
    font-size: var(--clickables-text);
}

.secondary-button:hover{
    background-color: var(--black);
    color: var(--white);
    border:none;
}