.primary-button{
    background-color: var(--dark-grey);
    padding: 15px 30px 15px 30px;
    height:fit-content;
    color: var(--primary-background);
    border: none;
    width: fit-content;
    border-radius: 10px;
    font-size: var(--clickables-text);

}

.primary-button:hover{
    background-color: var(--true-black);

}

.secondary-button{
    background-color: var(--primary-background);
    padding: 15px 30px 15px 30px;
    height:fit-content;
    color: var(--dark-grey);
    border: 2px solid var(--dark-grey);
    width: fit-content;
    border-radius: 10px;
    font-size: var(--clickables-text);
}

.secondary-button:hover{
    background-color: var(--true-black);
    color: var(--primary-background);
    border:none;
}