.ql-toolbar.ql-snow {
  font-family: 'Open Sans', sans-serif;
  border:none !important;
  font-size: var(--body);
  border-radius:10px;
}
.ql-container.ql-snow{
    border:none !important;
    font-size: var(--body);
    font-family: 'Open Sans', sans-serif;
}
.editor-container{
   border-radius:10px;
   width:1000px;
   height:500px;
}
.ql-picker-item{
    font-family: 'Open Sans', sans-serif;
}
.ql-picker-options{
    border-radius:10px;
    border:none;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
    border: none !important;
}
.ql-toolbar.ql-snow .ql-picker-options {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
    background-color:var(--white);
}
.ql-editor.ql-blank::before {
    color: var(--grey) !important;
}