@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
:root {
  --paper-yellow: #F1EEE1;
  --primary-background: #FBFBFA;
  --component-background: #ECEDE4;
  --select-component-background: #D1D7C8;
  --light-grey: #B4B4B4;
  --mid-grey: #7E7E7E;
  --dark-grey: #21201E;
  --true-black: #21201E;

  /*Fonts*/
  --font-body: "Opens Sans";
  --font-heading: Newsreader;
  --font-newspaper: Newsreader;

  --clickables-size: 1.5 rem;

  --font-weight-regular: 600;
}


body{
  background-color: var(--primary-background);
  font-family: 'Open Sans', sans-serif;
}