@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
:root {
  --white: #F7F6F0;
   --off-white: #F3F1EB;
  --light-grey: #D0CEC7;
  --grey: #A5A398;
  --dark-grey: #383838;
  --black: #000000;
  --brand-light: #DDD9C6;
  --warning: #BD4F5A;

  --title: 2rem;
  --subtitle: 1.4rem;
  --accent: 1.2rem;
  --clickables-text: 1rem;
  --body-text: 1.1rem;

  --font-weight-medium: 600;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.placeholder-text{
  color: var(--grey);
  font-weight: var(--font-weight-regular);
  font-size: var(--body-text);
}
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--off-white);
  font-family: 'Open Sans', sans-serif;
}
.app-container{
  height: 100vh;
  width: 100vw;
}
