@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
:root {
  --white: #FDFCFA;
  --light-grey: #C8C6C4;
  --grey: #898884;
  --dark-grey: #5A5755;
  --black: #000000;
  --brand: #2E559E;
  --brand-dark: #173771;
  --brand-gradient:  linear-gradient(180deg, #FAF7EF 0%, #DDDBF8 100%);

  --title: 2rem;
  --subtitle: 1.4rem;
  --accent: 1.2rem;
  --clickables-text: 1rem;
  --body-text: 1.1rem;

  --font-weight-medium: 600;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
  font-family: 'Open Sans', sans-serif;
}
.app-container{
  height: 100vh;
  width: 100vw;
}
