@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
:root {
  --paper-yellow: #F1EEE1;
  --primary-background: #FBFBFA;
  --component-background: #ECEDE4;
  --select-component-background: #D1D7C8;
  --light-grey: #B4B4B4;
  --mid-grey: #7E7E7E;
  --dark-grey: #303030;
  --true-black: #1A1A18;

  /*Fonts*/
  --font-body: "Opens Sans";
  --font-heading: Newsreader;
  --font-newspaper: Newsreader;

  --clickables-size: 1.5 rem;
  --font-body-size: 1.3 rem;

  --font-weight-regular: 600;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-background);
  font-family: 'Open Sans', sans-serif;
}
.app-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.news-heading{
  font-family: var(--font-newspaper);
  font-size: 2.5rem;
}
