@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
:root {
  --white: #FDFCFA;
  --light-grey: #C8C6C4;
  --grey: #898884;
  --dark-grey: #5A5755;
  --black: #000000;
  --brand: #2E559E;
  --brand-dark: #173771;
  --brand-gradient:  linear-gradient(180deg, #FAF7EF 0%, #DDDBF8 100%);


  --clickables-size: 1.5 rem;
  --font-body-size: 1.3 rem;

  --font-weight-regular: 600;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
  font-family: 'Open Sans', sans-serif;
}
.app-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}
