.entry-text-area{
    width: 1000px;
    height: 450px;
    background-color: var(--white);
    border: none;
    outline:none;
    resize: none;
    font-size: var(--body-text);
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--font-weight-light);
}
.entry-text-area:focus{
    border: none;
    outline:none;
    resize: none;
}
.poem-entry-container{
    height:600px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button-container-entry{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.entry-title{
    font-size: var(--title);
    font-weight: var(--font-weight-medium);
    margin-bottom: 20px;
    border: none;
    outline:none;
    resize: none;
    background-color: var(--white);
    width: 1000px;
}
.entry-title::placeholder {
  color: var(--light-grey);    
  font-weight: var(--font-weight-medium);
  opacity: 1;        
}
.entry-text-area::placeholder {
  color: var(--light-grey);    
  font-weight: var(--font-weight-regular);
  opacity: 1;        
}

.entry-date{
    font-size: var(--body-text);
    color: var(--grey);
    margin-bottom: 10px;
    font-weight: var(--font-weight-regular);
}