.entry-text-area{
    width: 600px;
    background-color: var(--primary-background);
    border: none;
    outline:none;
    resize: none;
    font-family: var(--font-newspaper);
    font-size: 1.2rem;
    height:250px;
    padding:20px;
}
.entry-text-area:focus{
    border: none;
    outline:none;
    resize: none;
}
.journal-entry-container{
    padding:10%;
    width:900px;
    display: flex;
    flex-direction: column;
    
}
.button-container-entry{
    display: flex;
    flex-direction: row;
    gap: 15px;
}