.entry-text-area{
    width: 600px;
    background-color: var(--white);
    border: none;
    outline:none;
    resize: none;
    font-size: 1.2rem;
    height:250px;
}
.poem-text-area:focus{
    border: none;
    outline:none;
    resize: none;
}
.poem-entry-container{
    padding:10%;
    width:900px;
    display: flex;
    flex-direction: column;
    
}
.button-container-entry{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.entry-title{
    font-size: 2rem;
    font-weight: var(--font-weight-regular);
    margin-bottom: 20px;
    border: none;
    outline:none;
    resize: none;
    background-color: var(--white);
}
.entry-title::placeholder {
  color: var(--light-grey);    
  font-weight: var(--font-weight-regular);
  opacity: 1;        
}