.entry-text-area{
    width: 500px;
    background-color: var(--primary-background);
    border: none;
    outline:none;
    resize: none;
    font-family: var(--font-newspaper);
    font-size: 1.2rem;
}
.entry-text-area:focus{
    border: none;
    outline:none;
    resize: none;
}
.journal-entry-container{
    padding:10%;
    padding-top: 20%;
    width:900px;
    display: flex;
    flex-direction: column;
    
}