
.nav-bar{
  display:flex;
  flex-direction: column;
  height: 100vh;
  background: var(--white);
  padding: 40px 20px 20px 20px;
  gap:30px;
  width: 230px;
  position: fixed;
  border-right: solid 1px;
  border-color:var(--light-grey);
}

.nav-link{
  color: var(--black);
  border-radius: 10px;
  font-size: var(--clickables-text);
  font-weight: var(--font-weight-regular);
}

.link-container{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap:10px;
  border-radius: 10px;
  padding:10px 15px 10px 15px;
  height: 40px;
}
.actions-container{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.nav-link:hover{
  color: var(--black);
}

.link-container:hover{
  background-color:var(--brand-light);
}
.placeholder-text{
  padding-left:10px;
}
.profile-icon-container{
  padding-left:10px;
}
.recents-container{
  display:flex;
  flex-direction:column;
  height:500px;
}
