
.nav-bar{
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--component-background);
  padding: 10px;
  display: inline-flex;
  padding: 150px 30px 50px 30px;
  flex-shrink: 0;
  gap: 50px;
  top:0;
  width: 160px;
}

.nav-link{
  color: var(--true-black);
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  gap: 10px;
  font-size: var(--clickables-size);
  font-weight: var(--font-weight-regular);
}

.nav-link.active {
  color: var(--true-black);
  background-color: var(--select-component-background);
}

.nav-link:hover{
  color: var(--mid-grey);
}